html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.app{
    max-width: 1800px;
}
.app__header{
   
}
.header__nav-bar{
      display: flex;
      justify-content: space-between;
      height: 60px;
      background-color: #3C1700;;
}
.nav-bar__item , .nav-bar__icon{
     list-style: none;
}