html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.app{
    max-width: 1800px;
}
.app__header{
    width: 6rem;
    background-color: #3C1700;;
}
.header__nav-bar{
      display: flex;
      justify-content: space-between;
}
.nav-bar__item{

}