.app__container{
  max-width: 1800px;
    height: 3835px;
}
.collect1 h2{
    width: 285px;
    height: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 44.46px;
    color: #000000;
    position: relative;
}
.collect1 h2::after{
    content: "";
    position: absolute;
    width: 1635px;
    height: 4px;
    background-color: #D9D9D9;
    left:0;
    bottom: -10px;

}
.collect1 .list__item{
    list-style: none;
    display: flex;
}